/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* custom css */
:root{
    --header-bg: #2D25A0
}

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.btn{
    background-color: #E02C6D;
    padding: 10px 24px;
    border: none;
    color: #fff;
    cursor: pointer;
}
.btn i {
    margin-left: 8px;
}

/* header area */
.header{
    background-color: var(--header-bg);
    color: #fff;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 85px 0;
}
.banner-text h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 27px;
}
.banner-img{
    margin-left: 102px;
}
.banner-img img{
    width: 556px;
    height: 438px;
}

/* players section */
.container{
    width: 90%;
    margin: auto;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 70px;
}
.player{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px;
    padding: 15px;
}
.player-img{
    width: 100%;
}
.player-title{
    margin: 15px 0;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
}
.player-detail{
    color: #6C6C6C;
}

/* highlight section */
.highlights{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
}
.highlight-text{
    width: 470px;
}
.highlight-text h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
}
.highlight-text p{
    color: #6C6C6C;
    margin-bottom: 25px;
}
.highlight-img{
    width: 567px;
    margin-left: 65px;
}
.highlight-img img{
    width: 100%;
}

/* footer area */
.footer{
    margin-top: 150px;
    margin-bottom: 60px;
    text-align: center;
}
.footer-img img{
    width: 485px;
    margin-bottom: 20px;
}
.social-icons{
    margin-bottom: 20px;
}
.social-icons .fab{
    margin: 0 7px;
    color: #969BAB;
    background-color: #E7E7E8;
    padding: 8px;
    border-radius: 50%;
    font-size: 20px;
}

/* ------------------ 
    Media Queries
------------------- */

/* mobile phnone */
@media only screen and (max-width: 688px) {
    /* header area */
    .banner{
        flex-direction: column;
        padding: 15px;
    }
    .banner-text h1{
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 27px;
    }
    .banner-img{
        margin-left: 0;
        margin-top: 50px;
    }
    .banner-img img{
        width: 329px;
        height: 100%;
    }

    /* player section */
    .players{
        grid-template-columns: repeat(1, 1fr);
    }

    /* highlight section */
    .highlights{
        flex-direction: column;
        margin-top: 95px;
    }
    .highlight-text{
        width: 330px;
    }
    .highlight-text h2{
        font-size: 30px;
        line-height: 40px;
    }
    .highlight-img{
        width: 330px;
        margin-left: 0;
        margin-top: 30px;
    }

    /* footer section */
    .footer{
        margin-top: 45px;
    }
    .footer-img img{
        width: 150px;
        margin-bottom: 20px;
    }
}

/* tablets */
@media only screen and (min-width:689px) and (max-width: 1024px) {
    /* header area */
    .banner{
        flex-direction: row;
        padding: 30px;
    }
    .banner-text h1{
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 27px;
    }
    .banner-img{
        margin-left: 0;
        margin-top: 50px;
    }
    .banner-img img{
        width: 329px;
        height: 100%;
    }

    /* players section */
    .players{
        grid-template-columns: repeat(2, 1fr);
    }

    /* highlight section */
    .highlights{
        flex-direction: row;
        margin-top: 95px;
    }
    .highlight-text{
        width: 330px;
    }
    .highlight-text h2{
        font-size: 30px;
        line-height: 40px;
    }
    .highlight-img{
        width: 330px;
        margin-left: 30px;
        margin-top: 30px;
    }
}